In [10]:
# import statements
import pandas as pd

In [11]:
# reading csv file
df = pd.read_csv('data/most_streamed_spotify_songs2024.csv', encoding='unicode_escape')

In [12]:
# getting the number of rows and columns of the dataframe
df.shape

(4600, 29)

In [13]:
# getting general information about the dataframe like the column names and their data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4600 non-null   object
 1   Album Name                  4600 non-null   object
 2   Artist                      4595 non-null   object
 3   Release Date                4600 non-null   object
 4   ISRC                        4600 non-null   object
 5   All Time Rank               4600 non-null   object
 6   Track Score                 4600 non-null   float64
 7   Spotify Streams             4487 non-null   object
 8   Spotify Playlist Count      4530 non-null   object
 9   Spotify Playlist Reach      4528 non-null   object
 10  Spotify Popularity          3796 non-null   float64
 11  YouTube Views               4292 non-null   object
 12  YouTube Likes               4285 non-null   object
 13  TikTok Posts                3427 non-null   object
 14  TikTok Likes                3620 non-null   object
 15  TikTok Views                3619 non-null   object
 16  YouTube Playlist Reach      3591 non-null   object
 17  Apple Music Playlist Count  4039 non-null   float64
 18  AirPlay Spins               4102 non-null   object
 19  SiriusXM Spins              2477 non-null   object
 20  Deezer Playlist Count       3679 non-null   float64
 21  Deezer Playlist Reach       3672 non-null   object
 22  Amazon Playlist Count       3545 non-null   float64
 23  Pandora Streams             3494 non-null   object
 24  Pandora Track Stations      3332 non-null   object
 25  Soundcloud Streams          1267 non-null   object
 26  Shazam Counts               4023 non-null   object
 27  TIDAL Popularity            0 non-null      float64
 28  Explicit Track              4600 non-null   int64
dtypes: float64(6), int64(1), object(22)
memory usage: 1.0+ MB

we have a column that has all null values so we can imediately drop the column!

In [14]:
clean_df = df.drop('TIDAL Popularity', axis=1)

In [15]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4600 non-null   object
 1   Album Name                  4600 non-null   object
 2   Artist                      4595 non-null   object
 3   Release Date                4600 non-null   object
 4   ISRC                        4600 non-null   object
 5   All Time Rank               4600 non-null   object
 6   Track Score                 4600 non-null   float64
 7   Spotify Streams             4487 non-null   object
 8   Spotify Playlist Count      4530 non-null   object
 9   Spotify Playlist Reach      4528 non-null   object
 10  Spotify Popularity          3796 non-null   float64
 11  YouTube Views               4292 non-null   object
 12  YouTube Likes               4285 non-null   object
 13  TikTok Posts                3427 non-null   object
 14  TikTok Likes                3620 non-null   object
 15  TikTok Views                3619 non-null   object
 16  YouTube Playlist Reach      3591 non-null   object
 17  Apple Music Playlist Count  4039 non-null   float64
 18  AirPlay Spins               4102 non-null   object
 19  SiriusXM Spins              2477 non-null   object
 20  Deezer Playlist Count       3679 non-null   float64
 21  Deezer Playlist Reach       3672 non-null   object
 22  Amazon Playlist Count       3545 non-null   float64
 23  Pandora Streams             3494 non-null   object
 24  Pandora Track Stations      3332 non-null   object
 25  Soundcloud Streams          1267 non-null   object
 26  Shazam Counts               4023 non-null   object
 27  Explicit Track              4600 non-null   int64
dtypes: float64(5), int64(1), object(22)
memory usage: 1006.4+ KB

In [16]:
clean_df.isna().sum()

Track                            0
Album Name                       0
Artist                           5
Release Date                     0
ISRC                             0
All Time Rank                    0
Track Score                      0
Spotify Streams                113
Spotify Playlist Count          70
Spotify Playlist Reach          72
Spotify Popularity             804
YouTube Views                  308
YouTube Likes                  315
TikTok Posts                  1173
TikTok Likes                   980
TikTok Views                   981
YouTube Playlist Reach        1009
Apple Music Playlist Count     561
AirPlay Spins                  498
SiriusXM Spins                2123
Deezer Playlist Count          921
Deezer Playlist Reach          928
Amazon Playlist Count         1055
Pandora Streams               1106
Pandora Track Stations        1268
Soundcloud Streams            3333
Shazam Counts                  577
Explicit Track                   0
dtype: int64

We also just want the columns related to spotify!

In [17]:
spotify_df = clean_df.drop(clean_df[['YouTube Views', 'YouTube Likes', 'TikTok Posts', 'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach', 'Apple Music Playlist Count', 'AirPlay Spins', 'SiriusXM Spins', 'Deezer Playlist Count', 'Deezer Playlist Reach', 'Amazon Playlist Count', 'Pandora Streams', 'Pandora Track Stations', 'Soundcloud Streams', 'Shazam Counts']], axis=1)

In [18]:
spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Track                   4600 non-null   object
 1   Album Name              4600 non-null   object
 2   Artist                  4595 non-null   object
 3   Release Date            4600 non-null   object
 4   ISRC                    4600 non-null   object
 5   All Time Rank           4600 non-null   object
 6   Track Score             4600 non-null   float64
 7   Spotify Streams         4487 non-null   object
 8   Spotify Playlist Count  4530 non-null   object
 9   Spotify Playlist Reach  4528 non-null   object
 10  Spotify Popularity      3796 non-null   float64
 11  Explicit Track          4600 non-null   int64
dtypes: float64(2), int64(1), object(9)
memory usage: 431.4+ KB

we have 5 null values in the artist section so we can drop them as they are barely 0.1% of the whole column

In [21]:
spotify_df = spotify_df.dropna(subset=['Artist'], axis=0)

In [22]:
spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4595 entries, 0 to 4599
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Track                   4595 non-null   object
 1   Album Name              4595 non-null   object
 2   Artist                  4595 non-null   object
 3   Release Date            4595 non-null   object
 4   ISRC                    4595 non-null   object
 5   All Time Rank           4595 non-null   object
 6   Track Score             4595 non-null   float64
 7   Spotify Streams         4487 non-null   object
 8   Spotify Playlist Count  4530 non-null   object
 9   Spotify Playlist Reach  4528 non-null   object
 10  Spotify Popularity      3796 non-null   float64
 11  Explicit Track          4595 non-null   int64
dtypes: float64(2), int64(1), object(9)
memory usage: 466.7+ KB

In [23]:
spotify_df.head()

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",92.0,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",92.0,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",92.0,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",85.0,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",88.0,1

Fixing data types:

In [24]:
spotify_df['Release Date'] = pd.to_datetime(spotify_df['Release Date'])

In [28]:
spotify_df['All Time Rank'] = spotify_df['All Time Rank'].str.replace(',', '')

In [29]:
spotify_df['All Time Rank'] = pd.to_numeric(spotify_df['All Time Rank'])

In [33]:
spotify_df['Spotify Streams'] = spotify_df['Spotify Streams'].str.replace(',', '')

In [34]:
spotify_df['Spotify Streams'] = pd.to_numeric(spotify_df['Spotify Streams'])

In [37]:
spotify_df['Spotify Playlist Count'] = spotify_df['Spotify Playlist Count'].str.replace(',', '')

In [46]:
spotify_df['Spotify Playlist Count'] = pd.to_numeric(spotify_df['Spotify Streams'])

In [41]:
spotify_df['Spotify Playlist Reach'] = spotify_df['Spotify Playlist Reach'].str.replace(',', '')

In [42]:
spotify_df['Spotify Playlist Reach '] = pd.to_numeric(spotify_df['Spotify Playlist Reach'])

In [43]:
spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4595 entries, 0 to 4599
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Track                   4595 non-null   object
 1   Album Name              4595 non-null   object
 2   Artist                  4595 non-null   object
 3   Release Date            4595 non-null   datetime64[ns]
 4   ISRC                    4595 non-null   object
 5   All Time Rank           4595 non-null   int64
 6   Track Score             4595 non-null   float64
 7   Spotify Streams         4487 non-null   float64
 8   Spotify Playlist Count  4530 non-null   float64
 9   Spotify Playlist Reach  4528 non-null   float64
 10  Spotify Popularity      3796 non-null   float64
 11  Explicit Track          4595 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(2), object(4)
memory usage: 466.7+ KB

In [50]:
spotify_df['Spotify Streams'] = spotify_df['Spotify Streams'].fillna(spotify_df['Spotify Streams'].median())

In [52]:
spotify_df['Spotify Playlist Count'] = spotify_df['Spotify Playlist Count'].fillna(spotify_df['Spotify Playlist Count'].median())

In [54]:
spotify_df['Spotify Playlist Reach'] = spotify_df['Spotify Playlist Reach'].fillna(spotify_df['Spotify Playlist Reach'].median())

In [56]:
spotify_df['Spotify Popularity'] = spotify_df['Spotify Popularity'].fillna(spotify_df['Spotify Popularity'].median())

In [57]:
spotify_df.isna().sum()

Track                     0
Album Name                0
Artist                    0
Release Date              0
ISRC                      0
All Time Rank             0
Track Score               0
Spotify Streams           0
Spotify Playlist Count    0
Spotify Playlist Reach    0
Spotify Popularity        0
Explicit Track            0
dtype: int64

We have fixed the null values!

In [58]:
spotify_df.duplicated().sum()

np.int64(2)

We have 2 dupes so we drop them!

In [59]:
spotify_df = spotify_df.drop_duplicates()

In [60]:
spotify_df.duplicated().sum()

np.int64(0)

In [63]:
spotify_df.to_csv('data\most_streamed_spotify_songs2024.csv')

<>:1: SyntaxWarning: invalid escape sequence '\m'
<>:1: SyntaxWarning: invalid escape sequence '\m'
C:\Users\allab\AppData\Local\Temp\ipykernel_9552\1123296449.py:1: SyntaxWarning: invalid escape sequence '\m'
  spotify_df.to_csv('data\most_streamed_spotify_songs2024.csv')